.friendsListItem {
    height: 50px;
    margin-bottom: 10px;
}

.friendsListItem a {
    text-decoration: none;
    color: rgb(157, 163, 163);
}

.friendsListItem a.active {
    font-size: 20px;
    color: rgb(77, 76, 49);
    transition: 0.2s;
}

.friendsListItem img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: aqua;
    transition: 0.2s;
}

.friendsListItem img:hover {
    box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.2);
}

.dialogBlock {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}