.paginatorBlock {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

.paginatorBlock button {
    border: 1px solid rgb(157, 163, 163);
    border-radius: 5px;
    width: 100px;
    height: 50px;
    background-color: inherit;
    opacity: 1;
    transition: 0.2s;
}

.paginatorBlock button:hover {
    opacity: 0.7;
}

.paginatorBlock button:active {
    opacity: 0.2;
}

.btnBlock {
    width: 100px;
    height: 50px;
}

.paginList {
    display: flex;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.paginList li {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid rgb(157, 163, 163);
    border-radius: 5px;
    margin: 0 auto;
    opacity: 1;
    transition: 0.2s;
}

.paginList li:hover {
    opacity: 0.7;
}

.paginList li:active {
    opacity: 0.2;
}

.selectedPage {
    font-weight: bold;
    color: rgb(189, 15, 15);
}

.paginList li p {
    text-align: center;
    margin: 0 auto;
}

.totalUsersCount {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    color: #000;
}

.totalUsersCount span {
    color: #000;
}