body {
    background: rgb(236, 233, 232);
}
.app-wrapper {
    display: grid;

    grid-template-areas:
        'header header'
        'nav content';

    grid-template-rows: 90px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 5px;
}

.app-wrapper-content {
    grid-area: content;
    /* background-color: rgb(157, 163, 163); */
    padding: 20px;
    border: 1px solid rgb(157, 163, 163);
    border-radius: 5px;
}

body {
    margin: 0;
    padding: 0;
    min-width: 320px;
}

html {
    box-sizing: border-box;
    overflow-y: scroll;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.container {
    width: 1440px;
    margin: 0 auto;
}